In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV

In [3]:
df=pd.read_csv('datasets_13720_18513_insurance.csv')

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
## Checking if null values present
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [11]:
#Dtale tool for EDA
import dtale
dtale.show(df)

In [12]:
#Splitting X and y
X=df.iloc[:,:-1]
y=df.iloc[:,6:]

In [13]:
dummy=pd.get_dummies(X[['sex','smoker']],drop_first=True)
X['Sex']=dummy.iloc[:,0].values
X['Smoker']=dummy.iloc[:,1].values

In [14]:
dict={'southeast':0,'northwest':1,'southwest':2,'northeast':3}
X['Region']=X['region'].map(dict)

In [15]:
X.drop(['sex','smoker','region'],axis=1,inplace=True)

In [16]:
X

      age     bmi  children  Sex  Smoker  Region
0      19  27.900         0    0       1       2
1      18  33.770         1    1       0       0
2      28  33.000         3    1       0       0
3      33  22.705         0    1       0       1
4      32  28.880         0    1       0       1
...   ...     ...       ...  ...     ...     ...
1333   50  30.970         3    1       0       1
1334   18  31.920         0    0       0       3
1335   18  36.850         0    0       0       0
1336   21  25.800         0    0       0       2
1337   61  29.070         0    0       1       1

[1338 rows x 6 columns]

In [17]:
y

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [19]:
params={'n_estimators':[50,100,200,300],'criterion':["mse", "mae"],
        'max_depth':[1,2,3,4,5,6,7,8],'min_samples_split':[2,4,6,8,10],
        'min_samples_leaf':[1,2,3,4,5,6,7]}
regressor=RandomForestRegressor()
grid=GridSearchCV(regressor,param_grid=params,n_jobs=-1,cv=5,verbose=10)
grid.fit(X_train,y_train)
grid

Fitting 5 folds for each of 2240 candidates, totalling 11200 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    5.0s
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    6.0s
[Parallel(n_jobs=-1)]: Done  45 tasks      | elapsed:    6.8s
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    7.9s
[Parallel(n_jobs=-1)]: Done  69 tasks      | elapsed:    8.8s
[Parallel(n_jobs=-1)]: Done  82 tasks      | elapsed:   10.0s
[Parallel(n_jobs=-1)]: Done  97 tasks      | elapsed:   11.5s
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:   12.7s
[Parallel(n_jobs=-1)]: Done 129 tasks      | elapsed:   14.0s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:   15.6s
[Parallel(n_jobs=-1)]: Done 165 tasks      | elapsed:   17.2s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:   18.8s
[Parallel(n_jobs=-1)]: Done 205 tasks      | elapsed:   20.9s
[Parallel(n_jobs=-1)]: Done 226 tasks      | elapsed:   23.0s
[Parallel(n_jobs=-1)]: Done 249 tasks      | elapsed:   24.8s
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:   27.9s
[Parallel(n_jobs=-1)]: Done 297 tasks      | elapsed:   30.7s
[Parallel(n_jobs=-1)]: Done 322 tasks      | elapsed:   32.8s
[Parallel(n_jobs=-1)]: Done 349 tasks      | elapsed:   35.0s
[Parallel(n_jobs=-1)]: Done 376 tasks      | elapsed:   37.9s
[Parallel(n_jobs=-1)]: Done 405 tasks      | elapsed:   40.5s
[Parallel(n_jobs=-1)]: Done 434 tasks      | elapsed:   43.4s
[Parallel(n_jobs=-1)]: Done 465 tasks      | elapsed:   46.2s
[Parallel(n_jobs=-1)]: Done 496 tasks      | elapsed:   49.1s
[Parallel(n_jobs=-1)]: Done 529 tasks      | elapsed:   51.9s
[Parallel(n_jobs=-1)]: Done 562 tasks      | elapsed:   55.0s
[Parallel(n_jobs=-1)]: Done 597 tasks      | elapsed:   58.4s
[Parallel(n_jobs=-1)]: Done 632 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 669 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 706 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 745 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 825 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 866 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 909 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 952 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 997 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 1042 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 1089 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 1136 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 1185 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done 1234 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 1285 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 1336 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 1389 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 1442 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done 1497 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done 1552 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done 1609 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done 1666 tasks      | elapsed:  3.0min
[Parallel(n_jobs=-1)]: Done 1725 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 1784 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 1845 tasks      | elapsed:  3.3min
[Parallel(n_jobs=-1)]: Done 1906 tasks      | elapsed:  3.4min
[Parallel(n_jobs=-1)]: Done 1969 tasks      | elapsed:  3.5min
[Parallel(n_jobs=-1)]: Done 2032 tasks      | elapsed:  3.5min
[Parallel(n_jobs=-1)]: Done 2097 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done 2162 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done 2229 tasks      | elapsed:  3.8min
[Parallel(n_jobs=-1)]: Done 2296 tasks      | elapsed:  3.9min
[Parallel(n_jobs=-1)]: Done 2365 tasks      | elapsed:  4.0min
[Parallel(n_jobs=-1)]: Done 2434 tasks      | elapsed:  4.1min
[Parallel(n_jobs=-1)]: Done 2505 tasks      | elapsed:  4.2min
[Parallel(n_jobs=-1)]: Done 2576 tasks      | elapsed:  4.3min
[Parallel(n_jobs=-1)]: Done 2649 tasks      | elapsed:  4.4min
[Parallel(n_jobs=-1)]: Done 2722 tasks      | elapsed:  4.5min
[Parallel(n_jobs=-1)]: Done 2797 tasks      | elapsed:  4.6min
[Parallel(n_jobs=-1)]: Done 2872 tasks      | elapsed:  4.7min
[Parallel(n_jobs=-1)]: Done 2949 tasks      | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done 3026 tasks      | elapsed:  4.9min
[Parallel(n_jobs=-1)]: Done 3105 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 3184 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done 3265 tasks      | elapsed:  5.3min
[Parallel(n_jobs=-1)]: Done 3346 tasks      | elapsed:  5.5min
[Parallel(n_jobs=-1)]: Done 3429 tasks      | elapsed:  5.6min
[Parallel(n_jobs=-1)]: Done 3512 tasks      | elapsed:  5.7min
[Parallel(n_jobs=-1)]: Done 3597 tasks      | elapsed:  5.9min
[Parallel(n_jobs=-1)]: Done 3682 tasks      | elapsed:  6.0min
[Parallel(n_jobs=-1)]: Done 3769 tasks      | elapsed:  6.1min
[Parallel(n_jobs=-1)]: Done 3856 tasks      | elapsed:  6.3min
[Parallel(n_jobs=-1)]: Done 3945 tasks      | elapsed:  6.4min
[Parallel(n_jobs=-1)]: Done 4034 tasks      | elapsed:  6.5min
[Parallel(n_jobs=-1)]: Done 4125 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 4216 tasks      | elapsed:  6.8min
[Parallel(n_jobs=-1)]: Done 4309 tasks      | elapsed:  7.0min
[Parallel(n_jobs=-1)]: Done 4402 tasks      | elapsed:  7.1min
[Parallel(n_jobs=-1)]: Done 4497 tasks      | elapsed:  7.3min
[Parallel(n_jobs=-1)]: Done 4592 tasks      | elapsed:  7.4min
[Parallel(n_jobs=-1)]: Done 4689 tasks      | elapsed:  7.6min
[Parallel(n_jobs=-1)]: Done 4786 tasks      | elapsed:  7.7min
[Parallel(n_jobs=-1)]: Done 4885 tasks      | elapsed:  7.8min
[Parallel(n_jobs=-1)]: Done 4984 tasks      | elapsed:  8.0min
[Parallel(n_jobs=-1)]: Done 5085 tasks      | elapsed:  8.2min
[Parallel(n_jobs=-1)]: Done 5186 tasks      | elapsed:  8.3min
[Parallel(n_jobs=-1)]: Done 5289 tasks      | elapsed:  8.5min
[Parallel(n_jobs=-1)]: Done 5392 tasks      | elapsed:  8.6min
[Parallel(n_jobs=-1)]: Done 5497 tasks      | elapsed:  8.8min
[Parallel(n_jobs=-1)]: Done 5602 tasks      | elapsed:  8.9min
[Parallel(n_jobs=-1)]: Done 5709 tasks      | elapsed:  9.3min
[Parallel(n_jobs=-1)]: Done 5816 tasks      | elapsed:  9.7min
[Parallel(n_jobs=-1)]: Done 5925 tasks      | elapsed: 10.1min
[Parallel(n_jobs=-1)]: Done 6034 tasks      | elapsed: 10.4min
[Parallel(n_jobs=-1)]: Done 6145 tasks      | elapsed: 10.8min
[Parallel(n_jobs=-1)]: Done 6256 tasks      | elapsed: 11.2min
[Parallel(n_jobs=-1)]: Done 6369 tasks      | elapsed: 11.7min
[Parallel(n_jobs=-1)]: Done 6482 tasks      | elapsed: 12.3min
[Parallel(n_jobs=-1)]: Done 6597 tasks      | elapsed: 12.9min
[Parallel(n_jobs=-1)]: Done 6712 tasks      | elapsed: 13.5min
[Parallel(n_jobs=-1)]: Done 6829 tasks      | elapsed: 14.1min
[Parallel(n_jobs=-1)]: Done 6946 tasks      | elapsed: 14.7min
[Parallel(n_jobs=-1)]: Done 7065 tasks      | elapsed: 15.4min
[Parallel(n_jobs=-1)]: Done 7184 tasks      | elapsed: 16.2min
[Parallel(n_jobs=-1)]: Done 7305 tasks      | elapsed: 16.9min
[Parallel(n_jobs=-1)]: Done 7426 tasks      | elapsed: 17.7min
[Parallel(n_jobs=-1)]: Done 7549 tasks      | elapsed: 18.5min
[Parallel(n_jobs=-1)]: Done 7672 tasks      | elapsed: 19.3min
[Parallel(n_jobs=-1)]: Done 7797 tasks      | elapsed: 20.2min
[Parallel(n_jobs=-1)]: Done 7922 tasks      | elapsed: 21.1min
[Parallel(n_jobs=-1)]: Done 8049 tasks      | elapsed: 22.0min
[Parallel(n_jobs=-1)]: Done 8176 tasks      | elapsed: 22.9min
[Parallel(n_jobs=-1)]: Done 8305 tasks      | elapsed: 23.8min
[Parallel(n_jobs=-1)]: Done 8434 tasks      | elapsed: 24.8min
[Parallel(n_jobs=-1)]: Done 8565 tasks      | elapsed: 25.8min
[Parallel(n_jobs=-1)]: Done 8696 tasks      | elapsed: 26.9min
[Parallel(n_jobs=-1)]: Done 8829 tasks      | elapsed: 66.2min
[Parallel(n_jobs=-1)]: Done 8962 tasks      | elapsed: 67.3min
[Parallel(n_jobs=-1)]: Done 9097 tasks      | elapsed: 68.3min

[Parallel(n_jobs=-1)]: Done 9232 tasks      | elapsed: 69.4min
[Parallel(n_jobs=-1)]: Done 9369 tasks      | elapsed: 70.5min
[Parallel(n_jobs=-1)]: Done 9506 tasks      | elapsed: 71.9min
[Parallel(n_jobs=-1)]: Done 9645 tasks      | elapsed: 73.4min
[Parallel(n_jobs=-1)]: Done 9784 tasks      | elapsed: 74.9min
[Parallel(n_jobs=-1)]: Done 9925 tasks      | elapsed: 76.6min
[Parallel(n_jobs=-1)]: Done 10066 tasks      | elapsed: 78.2min
[Parallel(n_jobs=-1)]: Done 10209 tasks      | elapsed: 79.8min
[Parallel(n_jobs=-1)]: Done 10352 tasks      | elapsed: 81.4min
[Parallel(n_jobs=-1)]: Done 10497 tasks      | elapsed: 83.0min
[Parallel(n_jobs=-1)]: Done 10642 tasks      | elapsed: 84.8min
[Parallel(n_jobs=-1)]: Done 10789 tasks      | elapsed: 86.5min
[Parallel(n_jobs=-1)]: Done 10936 tasks      | elapsed: 88.3min
[Parallel(n_jobs=-1)]: Done 11085 tasks      | elapsed: 90.0min
[Parallel(n_jobs=-1)]: Done 11200 out of 11200 | elapsed: 91.5min finished
C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:739: DataConversionWarning:

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                             criterion='mse', max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             max_samples=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100, n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_depth': [1, 2, 3, 4, 5, 6, 7, 8],
                         'min_samples_leaf': [1, 2, 3, 4, 5, 6, 7],
                         'min_samples_split': [2, 4, 6, 8, 10],
                         'n_estimators': [50, 100, 200, 300]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=10)

In [44]:
grid.best_params_

{'criterion': 'mse',
 'max_depth': 4,
 'min_samples_leaf': 4,
 'min_samples_split': 2,
 'n_estimators': 100}

In [21]:
y_pred1=grid.predict(X_train)
mse=mean_squared_error(y_train,y_pred1)
print(mse)

19346900.069736782

In [22]:
y_pred=grid.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
print(mse)

15909103.676038329

In [36]:
import math
rmse=math.sqrt(mse)
print(rmse)

3988.6217765085635
Executing shutdown...

2020-10-29 22:12:31,108 - INFO     - Executing shutdown...

In [38]:
#Saving the model
import pickle

In [47]:
pickle.dump(grid, open('model.pkl','wb'))

In [46]:
import requests
url = 'https://pycaret-insurance.herokuapp.com/predict_api'
pred = requests.post(url,json={'age':55, 'sex':'male', 'bmi':59, 'children':1, 'smoker':'male', 'region':'northwest'})
print(pred.json())

75714.0